<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Nhà thuốc 365, nhà thuốc trực tuyến hàng đầu Việt Nam</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Nhà thuốc 365, nhà thuốc online, thuốc Mỹ, thuốc chính hãng, thuốc trị đau đầu, mất ngủ, thuốc trị huyết áp, thuốc bổ gan thận, thuốc cho bà bầu, thuốc tăng chiều cao, bổ sung vitamin cho trẻ"/>
		<meta name="description" content="Nhà thuốc online chuyên thực phẩm chức năng chính hãng. Giá thấp. Giao hàng miễn phí toàn quốc. Thanh toán khi nhận hàng. ĐT miễn phí 1800.8155"/>
		<meta name="google-site-verification" content="lfytPfSr1IDiT1R8qHpHv7MDRdbrFj4jMAb8m2bFbig" />
		<link rel="shortcut icon" href="images/favicon.ico"/>
		<meta content="Dang hoai Bac &lt;nguoi34@gmail.com&gt;" name="author">
		<link rel="stylesheet" type="textcss" href="css/reset.css" />
		<link rel="stylesheet" type="textcss" href="css/style.css" />
		<link rel="stylesheet" type="textcss" href="css/jquery.autocomplete.css"  />
		<link href="css/thickbox.css" rel="stylesheet" type="textcss" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.min.js"></script>
		<script type="text/javascript" src="js/slides.min.jquery.js"></script>
		<script type="text/javascript" src="js/jquery.min.slideshow.js"></script>
		<script type="text/javascript" src="js/jquery.tools.min.js"></script>
		<script type="text/javascript" src="js/jquery.raty.js"></script>
		<script type="text/javascript" src="js/jquery.boxy.js"></script>
		<script type="text/javascript" src="js/jquery.lazyload.js"></script>
		<script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
		<script type="text/javascript" src="js/jd.menu.js"></script>
		<script type="text/javascript" src="js/tooltip.js"></script>
		<script type="text/javascript" src="js/library.js"></script>
		<script type="text/javascript" src="js/thickbox.js"></script>
		<script type="text/javascript" src="js/swfobject.js"></script>
		<script type="text/javascript" src="js/jquery.countdown.js"></script>
	</head>
	<body>
		<div id="wrapper_top">
			<div class="wrapper_top">
				<div class="wt_menu">
					<div class="wt_col"><img src="images/spacer.gif" width="1" height="1" alt="spacer" /></div>
					<div class="wt_item"><a  rel="" href="/vn/" target="_self">Nhathuoc365</a></div>
					<div class="wt_col"><img src="images/spacer.gif" width="1" height="1" alt="spacer" /></div>
					<div class="wt_item"><a  rel="" href="http://www.tuvangiamcan.vn/" target="_self">Tư vấn giảm cân</a></div>
					<div class="wt_col"><img src="images/spacer.gif" width="1" height="1" alt="spacer" /></div>
					<div class="wt_item"><a  rel="" href="http://www.methongthai.vn/" target="_self">Mẹ thông thái</a></div>
					<div class="wt_col"><img src="images/spacer.gif" width="1" height="1" alt="spacer" /></div>
					<div class="wt_item"><a  rel="" href="http://www.dinhduong365.vn" target="_self">Dinh dưỡng 365</a></div>
					<div class="wt_col"><img src="images/spacer.gif" width="1" height="1" alt="spacer" /></div>
					<div class="wt_deal">
						<a href="/hot-deal.html">Deal Giờ vàng giá tốt</a>
					</div>
				</div>
				<div id="user_tool">
					<a class="login" href="/dang-nhap.html" title="Đăng nhập" rel="nofollow">Đăng nhập</a><a class="register" href="/dang-ky.html" title="Đăng ký" rel="nofollow">Đăng ký</a><a class="support" href="/gioi-thieu/huong-dan-mua-hang.html" title="Trợ giúp mua hàng" rel="nofollow">Trợ giúp mua hàng</a>
				</div>
				<!--end #user_tool-->	
			</div>
		</div>
		<div class="clear"></div>
		<div id="wrapper_main">
			<div id="wrapper">
				<div id="header">
					<div id="logo">
						<a href="/" target="_self" title="Logo"><img class="lazy" alt="Logo" src="/data/banner/logo_4.png" /></a>
					</div>
					<div id="top_info">
						<a href="" target="_blank" title="banner hotline"><img class="lazy" alt="banner hotline" src="/data/banner/ybi1369099847.gif" /></a>
					</div>
					<!--end #top_info-->	
					<div id="cart_user">
						<div id="cart_tool">
							<div class="clear"><img src="images/spacer.gif" alt="spacer" width="10" height="10"/></div>
							<div class="cart_info">
								<div id="cartTotal" class="cartTotal"><span>Tổng tiền: 0 ₫</span></div>
								<div id="right-box-2" style="position:relative;" class="CartInfo" onmouseover="showContent()" onmouseout="hideContent()">
									<a href="/gio-hang.html" title="Giỏ hàng" rel="nofllow"><span id="numCart">Giỏ hàng (0)</span></a>
									<div class="clear"></div>
									<div id="show-content-1" style="display:none;">
										<div id="popCart">
											<div id="bcart">
												<div class="top_bcart">
													<div class="left"><img class="spacer" src="images/spacer.gif" /></div>
													<div class="main"><img class="spacer" src="images/spacer.gif" /></div>
													<div class="right">&nbsp;</div>
												</div>
												<!--end .top_bcart-->	
												<div class="m_bcart"> Chưa có sản phẩm nào	</div>
												<div class="bot_bcart">
													<div class="left"><img class="spacer" src="images/spacer.gif" /></div>
													<div class="main"><img class="spacer" src="images/spacer.gif" /></div>
													<div class="right"><img class="spacer" src="images/spacer.gif" /></div>
												</div>
												<!--end .top_bcart-->
											</div>
											<!--end #bcart-->					
										</div>
									</div>
								</div>
								<script type="text/javascript">
									function showContent(){
										var offset = $("#right-box-2").offset();
										$("#show-content-1").css({'display':'block','position':'absolute','z-index':'102','right':'0'});
									}
									function hideContent(){
										$("#show-content-1").css('display','none');
									}
								</script>
								<div class="clear"></div>
							</div>
							<div class="clear"><img src="images/spacer.gif" alt="spacer" width="5" height="5"/></div>
							<a class="tranport_free" href="/thong-bao/cuoc-van-chuyen.html">Cước vận chuyển</a>
							<div class="clear"><img src="images/spacer.gif" alt="spacer" width="5" height="5"/></div>
							<div class="head_support">
								<a href="ymsgr:sendIM?tvgc02"><span>Tư vấn sản phẩm</span></a>
								&nbsp;
								<a href="ymsgr:sendIM?tvgc04"><span>Hỗ trợ thành viên</span></a>
							</div>
						</div>
						<!--end #cart_tool-->	
					</div>
					<!--end #cart_user-->
					<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
				</div>
				<!--end #header-->
				<div id="menu_top">
					<ul  class="menu" id="menu">
						<li ><a  class="select" href="/vn/" target="_self" rel="">Trang chủ</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li >
							<a  class="mt_it" href="/nhom-hang.html" target="_self" rel="">Sản phẩm	</a><span><img class="spacer" src="images/spacer.gif" /></span>
							<ul>
								<li class="sub_it"><a   href="/tinh-dau-tu-nhien.html" target="_self" rel="nofollow">Tinh dầu tự nhiên</a></li>
								<li class="sub_it"><a   href="/vitamins-acid-amin-va-khoang-chat.html" target="_self" rel="follow">Vitamin khoáng chất</a></li>
								<li class="sub_it"><a   href="/hoocmon-va-noi-tiet.html" target="_self" rel="nofollow">Hooc môn và nội tiết</a></li>
								<li class="sub_it"><a   href="/thuoc-bo-than-kinh.html" target="_self" rel="nofollow">Thuốc bổ thần kinh</a></li>
								<li class="sub_it"><a   href="/lam-dep-chong-lao-hoa.html" target="_self" rel="nofollow">Làm đẹp</a></li>
								<li class="sub_it"><a   href="/ho-tro-dieu-tri-benh-tieu-duong.html" target="_self" rel="nofollow">Điều trị tiểu đường</a></li>
								<li class="sub_it"><a   href="/ho-tro-tuan-hoan-nao.html" target="_self" rel="nofollow">Tuần hoàn não</a></li>
								<li class="sub_it"><a   href="/bo-than-tiet-nieu.html" target="_self" rel="nofollow">Bổ thận–Tiết niệu</a></li>
								<li class="sub_it"><a   href="/he-tieu-hoa-gan.html" target="_self" rel="nofollow">Hệ Tiêu hóa-Gan</a></li>
								<li class="sub_it"><a   href="/xuong-khop.html" target="_self" rel="nofollow">Xương khớp</a></li>
								<li class="sub_it"><a   href="/thuoc-dieu-tri-cao-huyet-ap-tim-mach.html" target="_self" rel="nofollow">Tim mạch- Huyết áp</a></li>
								<li class="sub_it"><a   href="/suc-khoe-sinh-ly-nam.html" target="_self" rel="nofollow">SK - Sinh lý nam</a></li>
								<li class="sub_it"><a   href="/suc-khoe-sinh-ly-nu.html" target="_self" rel="nofollow">SK - Sinh lý nữ</a></li>
								<li class="sub_it"><a   href="/thuc-pham-giam-can-an-kieng.html" target="_self" rel="nofollow">Thực phẩm giảm cân</a></li>
								<li class="sub_it"><a   href="/ho-tro-dieu-tri-ung-thu-buou.html" target="_self" rel="nofollow">Hỗ trợ điều trị ung thư</a></li>
								<li class="sub_it"><a   href="/suc-khoe-tre-em.html" target="_self" rel="nofollow">Sức khỏe trẻ em</a></li>
								<li class="sub_it"><a   href="/mien-dich-giai-doc.html" target="_self" rel="nofollow">Miễn dịch - Giải độc</a></li>
								<li class="sub_it"><a   href="/mat-tai-mui-hong.html" target="_self" rel="nofollow">Mắt-tai-mũi-họng</a></li>
							</ul>
						</li>
						<li ><a  class="mt_it" href="/thuong-hieu.html" target="_self" rel="">Thương hiệu</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li ><a  class="mt_it" href="/khuyen-mai.html" target="_self" rel="">Khuyến mãi</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li ><a  class="mt_it" href="/mua-mot-tang-mot.html" target="_self" rel="nofollow">Mua 1 Tặng 1</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li ><a  class="mt_it" href="/san-pham-moi.html" target="_self" rel="">Sản phẩm mới</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li >
							<a  class="mt_it" href="/tin-tuc.html" target="_self" rel="follow">Tin khuyến mại</a><span><img class="spacer" src="images/spacer.gif" /></span>
							<ul>
								<li class="sub_it"><a   href="/ma-giam-gia.html" target="_self" rel="follow">Mã giảm giá</a></li>
								<li class="sub_it"><a   href="/tin-khuyen-mai.html" target="_self" rel="follow">Tin khuyến mại</a></li>
							</ul>
						</li>
						<li ><a  class="mt_it" href="/gioi-thieu/gioi-thieu.html" target="_self" rel="">Giới thiệu</a><span><img class="spacer" src="images/spacer.gif" /></span></li>
						<li ><a  class="mt_it" href="/lien-he.html" target="_self" rel="">Liên hệ</a></li>
					</ul>
					<script type="text/javascript">
						var menu=new menu.dd('menu');
						menu.init('menu','menuhover');
					</script>
				</div>
				<!--end #menu_top-->
				<div id="search_hot_line">
					<div id="box_search">
						<div>
							<form name="frmSearch" action="/tim-kiem.html" method="get">				
								<input type="text" id="txtSearch" name="txtSearch" onfocus="if(this.value=='Từ khóa tìm kiếm') this.value=''" onblur="if(this.value=='') this.value='Từ khóa tìm kiếm'" value="Từ khóa tìm kiếm" /> 
							</form>
						</div>
						<a href="javascript:void(0)" onclick="document.frmSearch.submit()">Search</a>
					</div>
					<!--end #box_search-->
					<script language="javascript">
						$(document).ready(function(){
							$("#txtSearch").autocomplete("/vn/auto_search.php", {
								width: 332,
								selectFirst: false
							});
							$("#txtSearch").result(function(event, data, formatted) {
								if (data)
									$("#txtSearchID").val(data[1]);
									else $("#txtSearchID").val('0');
							});
						})
					</script>
					<div id="search_hot_line_spacer">
						<img class="spacer" src="images/spacer.gif" />
					</div>
					<!--end #search_hot_line_spacer-->
					<div id="hot_line">
						<div class="hot_line_label"><span>Bạn đã có mã giảm giá?</a></span></div>
						<div class="pro_code">
							<div class="d_code"><input type="text" name="promotionCode" id="promotionCode" value=""></div>
							<div class="s_code"><a id="addPromotionCode" href="#">OK</a></div>
						</div>
					</div>
					<!--end #hot_line-->
				</div>
				<!--end #search_hot_line-->	            
				<div id="content">
					<div id="side_content">
						<div id="font_size">Thay đổi cỡ chữ website: <a id="switcher-small" class="active" href="javascript:void(0)">A</a>&nbsp;<a class="active"  id="switcher-large" href="javascript:void(0)">A</a></div>
						<script language="javascript">
							$(document).ready(function() 
							{
								$('#switcher-small').css('font-size','10px');
								$('#switcher-large').css('font-size','14px');
								var $body = $('#content');
								defaultSize = 13;
								$('#font_size a').click(function() 
								{
									var num = parseFloat( $body.css('font-size'), 10 );
									switch (this.id) 
									{
										case 'switcher-large':
											num *= 1.05;
											break;
										case 'switcher-small':
											num /= 1.05;
											break;
									}
									$body.css('font-size', num + 'px');
									$('#font_size').css('font-size','13px');
									$('#switcher-small').css('font-size','10px');
									$('#switcher-large').css('font-size','14px');
								});
							});
						</script>		
						<div class="box_menu">
							<div class="title">Sản phẩm giá tốt</div>
							<a href="/khuyen-mai.html">Khuyến mãi</a>
							<a href="/mua-mot-tang-mot.html">Mua 1 tặng 1</a>
							<a href="/hot-deal.html">Deal giờ vàng</a>
						</div>
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="left_letter" style="background:url(images/register_now_bg.png) #bde546 center center no-repeat; ">
							<div class="l2_form">
								<form action="/ajax.html" name="frmNewletter" method="post" onsubmit="return validateNewsletter(this)" autocomplete="off">			<input type="text" name="email" value="" placeholder="Địa chỉ Email" />			<input type="submit" value="" />			<input type="hidden" name="new_promotion" value="1" />			<input type="hidden" name="action" value="reg_newsletter" />		</form>
							</div>
							<!-- End .l2_form -->
						</div>
						<!-- End .left_letter -->
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="box_menu">
							<div class="title">Danh mục</div>
							<a href="/nhom-hang.html">Nhóm sản phẩm</a>
							<a href="/thuong-hieu.html">Thương hiệu</a>
							<a href="/y-te-quan-tam.html">Tư vấn sản phẩm</a>
							<a href="/san-pham-top.html">Sản phẩm bán chạy</a>
							<a href="/san-pham-moi.html">Sản phẩm mới</a>
						</div>
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="box_menu">
							<div class="title">Nhóm sản phẩm</div>
							<a rel="follow" href="/tinh-dau-tu-nhien.html" target="_self">Tinh dầu</a>
							<a rel="" href="/vitamins-acid-amin-va-khoang-chat.html" target="_self">Vitamin và khoáng chất</a>
							<a rel="" href="/hoocmon-va-noi-tiet.html" target="_self">Hooc môn và nội tiết</a>
							<a rel="" href="/lam-dep-chong-lao-hoa.html" target="_self">Làm đẹp, chống lão hóa</a>
							<a rel="" href="/thuc-pham-giam-can-an-kieng.html" target="_self">Thực phẩm giảm cân</a>
							<a rel="" href="/suc-khoe-sinh-ly-nu.html" target="_self">SK - Sinh lý nữ</a>
							<a rel="" href="/suc-khoe-sinh-ly-nam.html" target="_self">SK - Sinh lý nam</a>
							<a rel="" href="/suc-khoe-tre-em.html" target="_self">Sức khỏe trẻ em</a>
							<a rel="" href="/ho-tro-dieu-tri-benh-tieu-duong.html" target="_self">Điều trị bệnh tiểu đường</a>
							<a rel="" href="/ho-tro-tuan-hoan-nao.html" target="_self">Hỗ trợ tuần hoàn não</a>
							<a rel="" href="/thuoc-dieu-tri-cao-huyet-ap-tim-mach.html" target="_self">Tim mạch - Huyết áp</a>
							<a rel="" href="/he-tieu-hoa-gan.html" target="_self">Hệ tiêu hóa - Gan</a>
							<a rel="" href="/bo-than-tiet-nieu.html" target="_self">Thận - Tiết niệu</a>
							<a rel="" href="/xuong-khop.html" target="_self">Xương khớp</a>
							<a rel="" href="/mat-tai-mui-hong.html" target="_self">Mắt-tai-mũi-họng</a>
							<div class="clear"></div>
							<div class="box_menu_more">
								<a href="/nhom-hang.html" title="Xem tất cả">Xem tất cả</a>
							</div>
						</div>
						<!--end .box_menu-->
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="adv_left">
							<div><a href="/Khoang-chat-khac/Dinh-duong-SPIRU-TEIN-Shake-nhieu-huong-vi-thom-ngon.html" target="_blank"><img class="lazy" alt="SPIRU-TEIN" src="/data/banner/trx1348671758.jpg" border="0"></a></div>
						</div>
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="box_menu">
							<div class="title">Thăm dò ý kiến</div>
							<div id="box_poll">
								<span>Bạn có sẵn sàng mua sản phẩm của nhathuoc365?</span> 
								<form name="frmPolls" method="post" id="frmPolls">
									<input id="poll_answer_2" onchange="document.getElementById('checkPoll').value=1" name="poll_answer" type="radio" value="2"/><label for="poll_answer_2">Chắc chắn có vì giá tốt và tiện lợi</label><br/>
									<input id="poll_answer_3" onchange="document.getElementById('checkPoll').value=1" name="poll_answer" type="radio" value="3"/><label for="poll_answer_3">Có thể cân nhắc nếu có nhu cầu</label><br/>
									<input id="poll_answer_4" onchange="document.getElementById('checkPoll').value=1" name="poll_answer" type="radio" value="4"/><label for="poll_answer_4">Không, tôi vẫn thích mua tại hiệu thuốc hơn</label><br/>
									<div class="clear"><img height="7px" src="images/spacer.gif" /></div>
									<input type="button" value="Bình chọn" onclick="checkPolls();" />
									<input type="button" value="Kết quả" onclick="tb_show('Kết quả bình chọn','/vn/polls.php?height=336&width=597&modal=true');" />
									<input type="hidden" name="action" id="action" value="checkPoll">
									<input type="hidden" name="returnURL" value="/vn/polls.php" />
									<input type="hidden" name="checkPoll" id="checkPoll" value="0">
								</form>
							</div>
							<!--end #box_poll-->
						</div>
						<!--end .box_menu-->
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="box_menu">
							<div class="title">Video nổi bật</div>
							<div class="clear"></div>
							<div class="box_video">
								<div class="bv_main">
									<div id="mediaspace">Video</div>
									<script type="text/javascript">	  var so = new SWFObject("images/player/player.swf","mpl","179","141","9");	  so.addParam("allowfullscreen","true");	  so.addParam("allowscriptaccess","always");	  so.addParam("wmode","opaque");	  so.addVariable("author","Nhathuoc365.com");	  so.addVariable("description","Cuộc Thi Giảm Cân Bằng Sản phẩm Best SLim Tại Nhà Thuốc 365");	  so.addVariable("file","https://www.youtube.com/watch?v=3lB90sD6eL8");	  so.addVariable("stretching","exactfit");	  so.addVariable("title","Cuộc Thi Giảm Cân Bằng Sản phẩm Best SLim Tại Nhà Thuốc 365");	  so.addVariable("image","/data/video/");	  so.addVariable("skin","images/player/skin/stormtrooper.zip");	  so.addVariable("autostart","false");	  so.write("mediaspace");	</script>
								</div>
								<div class="clear"></div>
								<div class="bv_item"?>	 <a class="selected" href="/video-clip.html?vID=13">Cuộc Thi Giảm Cân Bằng Sản phẩm Best SLim Tại Nhà Thuốc 365</a></div>
								<div class="bv_item">	 <a href="/video-clip.html?vID=6">Liquid Melatonin - Giúp điều hòa giấc ngủ</a></div>
								<div class="clear"></div>
								<div class="bv_item">	 <a href="/video-clip.html?vID=5">Folic acid 400 mcg</a></div>
								<div class="clear"></div>
								<div class="clear"><img src="images/spacer.gif" alt="spacer" width="10" height="10" /></div>
								<div class="bv_more">
									<a href="/video-clip.html"><span>Tất cả</span></a>
								</div>
							</div>
						</div>
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div class="adv_left">
							<div><a href="http://nhathuoc365.vn/tinh-dau-organnics/tinh-dau-cuc-la-ma-giai-phap-tu-thien-nhien.html" target="_self"><img class="lazy" alt="Cúc la mã giảm 15%" src="/data/banner/cuc-la-ma-giam-15.gif" border="0"></a></div>
						</div>
						<div class="clear"><img src="images/spacer.gif" width="10" height="10" alt="spacer" /></div>
						<div id="box_menu_last">
							<img height="10px" src="images/spacer.gif" />
						</div>
						<!--end #box_menu_last-->
					</div>
					<!--end #side_content-->
					<div id="main_content">
						<div id="sile_home">
							<div id="slide_featured" class="slideShow">
								<ul class="slides">
									<li class="slide"><a href="http://nhathuoc365.vn/qc/combo-baby-plex-tinh-dau-tram.html?utm_source=bannerT" target="_blank" title="COmbo Baby Plex+ TD Tràm"><img alt="COmbo Baby Plex+ TD Tràm" src="/data/banner/combo-baby-plex-td-tram.gif" /></a></li>
								</ul>
								<ul class="navigation">
									<li><a href="javascript:void(0);" class="page">1</a></li>
								</ul>
							</div>
							<!--end #slide_featured-->
							<script type="text/javascript">
								$(document).ready(function() {
									$('.slideShow').slideShow({
										interval: 5,
										transition:{mode: 'fade', speed: 2000}
									});
								});
							</script>			
							<div class="deal_letter">
								<div id="slide_product">
									<div class="title_slide">		
										<span>Deal giờ vàng</span>
									</div>
									<!--end #title_slide-->
									<div id="slide_product_main">
										<div class="slides_container">
											<div class="slide_product_item">
												<div class="item_content">
													<a class="slide_product_item_thumb" href="/hot-deal/tra-bo-than-cong-duc.html" title="Trà Bổ Thận Công Đức ">
													<img title="Trà Bổ Thận Công Đức )" alt="Trà Bổ Thận Công Đức )" src="/data/products/small_gjd1356150458.png" />
													</a>
													<a class="slide_product_item_info blue bold" href="/hot-deal/tra-bo-than-cong-duc.html" title="Trà Bổ Thận Công Đức ">
													Trà Bổ Thận Công Đức 					</a>
													<span>&nbsp;&nbsp;45.000 ₫</span>
													<!--<a class="slide_product_item_info blue" href="/thuong-hieu/cong-ty-tnhh-cong-duc.html">Công ty TNHH Công Đức</a>-->
													<!--<span>MT:&nbsp;1109328 • Hộp x 20 gói</span>-->
												</div>
												<div class="clear"></div>
											</div>
											<!--end #slide_product_item-->
										</div>
										<!--end .slides_container-->
										<a href="#" class="prev"><img src="images/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
										<a href="#" class="next"><img src="images/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
									</div>
									<!--end #slide_product_main-->
									<script type="text/javascript">
										$(function(){
											$('#slide_product_main').slides({
												preload: true,
												preloadImage: 'images/loading.gif',
												play: 5000,
												pause: 2500,
												hoverPause: true
											});
										});
									</script>	
								</div>
								<!--end #slide_product-->				
								<div class="clear" style="height:9px;">&nbsp;</div>
								<div class="home_letter" style="background:url(images/newletter_bg.png) #bde546 center center no-repeat; ">
									<div class="hl_form">
										<form action="/ajax.html" name="frmNewletter" method="post" onsubmit="return validateNewsletter(this)" autocomplete="off">			<input type="text" name="email" value="" placeholder="Địa chỉ Email của bạn" />			<input type="submit" value="Đăng ký - Nhận tiện ích" />			<input type="hidden" name="new_tips" value="1" />			<input type="hidden" name="action" value="reg_newsletter" />		</form>
									</div>
									<!-- End .hl_form -->
								</div>
								<!-- End .home_letter -->			
							</div>
							<!-- End .deal_letter -->			
						</div>
						<!--end #sile_home-->
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div id="home_teaser">
						</div>
						<!--end #home_teaser-->		
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div id="box_sale">
							<div class="sub_box_sale border_rigth">
								<div class="title">
									<h2><span>Thực phẩm giảm cân, ăn kiêng</span></h2>
								</div>
								<!--end .title-->		
								<div class="sales_name yellow bold">
									<span>-25%</span>
								</div>
								<!--end .sales_name-->
								<div class="product_item_home ">
									<div class="product_item_thumb">
										<a href="/san-pham-giam-can/dai-massage-tinh-dau-massage-giam-beo.html" title="Đai Massage & Tinh dầu Massage giảm béo"><img title="Đai Massage & Tinh dầu Massage giảm béo" alt="Đai Massage & Tinh dầu Massage giảm béo" class="lazy" src="/data/products/small_dai-massage-tinh-dau-massage-giam-beo_3.png" /></a>                
									</div>
									<div class="clear"></div>
									<div class="product_item_teaser">
										<div class="home_title">
											<h3><a class="blue bold" href="/san-pham-giam-can/dai-massage-tinh-dau-massage-giam-beo.html" title="Đai Massage & Tinh dầu Massage giảm béo">Đai Massage & Tinh dầu Massage giảm béo</a></h3>
										</div>
										<div class="clear"></div>
										<div class="pit_price"><span class="price bold">600.000 ₫</span></div>
										<div class="clear"></div>
										<div class="pit_cart"><a class="add_cart" href="#" rel="ZGxlBN" title="Mua hàng"><span>Mua hàng</span></a></div>
										<div class="clear"></div>
									</div>
									<!--end .product_item_teaser-->
								</div>
								<!--end .product_item-->
								<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
							</div>
							<!--end .sub_box_sale-->
							<div class="sub_box_sale border_rigth">
								<div class="title">
									<h2><span>Làm đẹp, chống lão hóa</span></h2>
								</div>
								<!--end .title-->		
								<div class="sales_name yellow bold">
									<span>-8%</span>
								</div>
								<!--end .sales_name-->
								<div class="product_item_home ">
									<div class="product_item_thumb">
										<a href="/duong-toc-mong/combo-ultra-hair-women-dau-duong-toc.html" title="COMBO ULTRA HAIR WOMEN + DẦU DƯỠNG TÓC"><img title="COMBO ULTRA HAIR WOMEN + DẦU DƯỠNG TÓC" alt="COMBO ULTRA HAIR WOMEN + DẦU DƯỠNG TÓC" class="lazy" src="/data/products/small_combo-ultra-hair-women-dau-duong-toc.png" /></a>                
									</div>
									<div class="clear"></div>
									<div class="product_item_teaser">
										<div class="home_title">
											<h3><a class="blue bold" href="/duong-toc-mong/combo-ultra-hair-women-dau-duong-toc.html" title="COMBO ULTRA HAIR WOMEN + DẦU DƯỠNG TÓC">COMBO ULTRA HAIR WOMEN + DẦU DƯỠNG TÓC</a></h3>
										</div>
										<div class="clear"></div>
										<div class="pit_price"><span class="price bold">1.050.000 ₫</span></div>
										<div class="clear"></div>
										<div class="pit_cart"><a class="add_cart" href="#" rel="ZGxlZt" title="Mua hàng"><span>Mua hàng</span></a></div>
										<div class="clear"></div>
									</div>
									<!--end .product_item_teaser-->
								</div>
								<!--end .product_item-->
								<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
							</div>
							<!--end .sub_box_sale-->
							<div class="sub_box_sale border_rigth">
								<div class="title">
									<h2><span>Sức khỏe trẻ em</span></h2>
								</div>
								<!--end .title-->		
								<div class="sales_name yellow bold">
									<span>-15%</span>
								</div>
								<!--end .sales_name-->
								<div class="product_item_home ">
									<div class="product_item_thumb">
										<a href="/bo-sung-vitamin-khoang-chat/combo-baby-plex-tinh-dau-tram.html" title="Combo Baby Plex + Tinh dầu Tràm"><img title="Combo Baby Plex + Tinh dầu Tràm" alt="Combo Baby Plex + Tinh dầu Tràm" class="lazy" src="/data/products/small_combo-baby-plex-tinh-dau-tram_2.png" /></a>                
									</div>
									<div class="clear"></div>
									<div class="product_item_teaser">
										<div class="home_title">
											<h3><a class="blue bold" href="/bo-sung-vitamin-khoang-chat/combo-baby-plex-tinh-dau-tram.html" title="Combo Baby Plex + Tinh dầu Tràm">Combo Baby Plex + Tinh dầu Tràm</a></h3>
										</div>
										<div class="clear"></div>
										<div class="pit_price"><span class="price bold">650.000 ₫</span></div>
										<div class="clear"></div>
										<div class="pit_cart"><a class="add_cart" href="#" rel="ZGxlZD" title="Mua hàng"><span>Mua hàng</span></a></div>
										<div class="clear"></div>
									</div>
									<!--end .product_item_teaser-->
								</div>
								<!--end .product_item-->
								<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
							</div>
							<!--end .sub_box_sale-->
							<div class="sub_box_sale" style="width:196px;">
								<div class="title">
									<h2><span>Xương khớp</span></h2>
								</div>
								<!--end .title-->		
								<div class="product_item_home ">
									<div class="product_item_thumb">
										<a href="/dieu-tri-benh-dau-khop-xuong-khop-phong-te-thap/triple-care-glucosamine-ucii-msm-va-chondroitin.html" title="TRIPLE CARE - Glucosamine, UCII, MSM và chondroitin"><img title="TRIPLE CARE - Glucosamine, UCII, MSM và chondroitin" alt="TRIPLE CARE - Glucosamine, UCII, MSM và chondroitin" class="lazy" src="/data/products/small_triple-care-glucosamine-ucii-msm-va-chondroitin_2.png" /></a>                
									</div>
									<div class="clear"></div>
									<div class="product_item_teaser">
										<div class="home_title">
											<h3><a class="blue bold" href="/dieu-tri-benh-dau-khop-xuong-khop-phong-te-thap/triple-care-glucosamine-ucii-msm-va-chondroitin.html" title="TRIPLE CARE - Glucosamine, UCII, MSM và chondroitin">TRIPLE CARE - Glucosamine, UCII, MSM và chondroitin</a></h3>
										</div>
										<div class="clear"></div>
										<div class="pit_price"><span class="price bold">600.000 ₫</span></div>
										<div class="clear"></div>
										<div class="pit_cart"><a class="add_cart" href="#" rel="ZGtkAD" title="Mua hàng"><span>Mua hàng</span></a></div>
										<div class="clear"></div>
									</div>
									<!--end .product_item_teaser-->
								</div>
								<!--end .product_item-->
								<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
							</div>
							<!--end .sub_box_sale-->
							<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
						</div>
						<!--end #box_sale-->		
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div class="home_ads">
							<div class="ads_img">
								<div><a href="http://nhathuoc365.vn/" target="_blank"><img class="lazy" alt="Chương trình tặng bể bơi" src="/data/banner/chuong-trinh-tang-be-boi.gif" border="0"></a></div>
							</div>
						</div>
						<!--end .home_ads-->	
						<div class="clear"><img height="7px" src="images/spacer.gif" /></div>
						<div id="group_pro">
							<div class="title">
								<span>Sản phẩm bán chạy</span>
							</div>
							<!--end .title-->	
							<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/san-pham-giam-can/combo-best-slim-tinh-dau-massage-giam-beo.html" title="COMBO BEST SLIM + TINH DẦU MASSAGE GIẢM BÉO"><img title="COMBO BEST SLIM + TINH DẦU MASSAGE GIẢM BÉO" alt="COMBO BEST SLIM + TINH DẦU MASSAGE GIẢM BÉO" class="lazy" src="/data/products/small_combo-best-slim-tinh-dau-massage-giam-beo_2.png" /></a>
								</div>
								<!--end .product_item_thumb-->
								<div class="product_item_teaser">
									<h3><a title="COMBO BEST SLIM + TINH DẦU MASSAGE GIẢM BÉO" class="blue bold" href="/san-pham-giam-can/combo-best-slim-tinh-dau-massage-giam-beo.html">COMBO BEST SLIM + TINH DẦU MASSAGE GIẢM BÉO</a></h3>
									<span class="b fl">Giá niêm yết:&nbsp;</span> <span class="black lt fl">1.399.000 ₫</span>
									<div class="clear"><img src="images/spacer.gif" alt="spacer" width="5" height="5"></div>
									<span class="b fl">Giá mới:&nbsp;</span> <span class="red fl">1.050.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGxkZt" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/tinh-dau-organnics/combo-tinh-dau-tram-khuynh-diep.html" title="Combo Tinh Dầu Tràm + Khuynh Diệp"><img title="Combo Tinh Dầu Tràm + Khuynh Diệp" alt="Combo Tinh Dầu Tràm + Khuynh Diệp" class="lazy" src="/data/products/small_combo-tinh-dau-tram-khuynh-diep_1.png" /></a>
								</div>
								<!--end .product_item_thumb-->
								<div class="product_item_teaser">
									<h3><a title="Combo Tinh Dầu Tràm + Khuynh Diệp" class="blue bold" href="/tinh-dau-organnics/combo-tinh-dau-tram-khuynh-diep.html">Combo Tinh Dầu Tràm + Khuynh Diệp</a></h3>
									<span class="b fl">Giá bán:&nbsp;</span> <span class="red fl">320.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGt3BD" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/san-pham-giam-can/vien-uong-best-slim-giam-can-hieu-qua.html" title="Viên uống Best Slim - giảm cân hiệu quả"><img title="Viên uống Best Slim - giảm cân hiệu quả" alt="Viên uống Best Slim - giảm cân hiệu quả" class="lazy" src="/data/products/small_vien-uong-best-slim-giam-can-hieu-qua_1.png" /></a>
								</div>
								<!--end .product_item_thumb-->
								<div class="product_item_teaser">
									<h3><a title="Viên uống Best Slim - giảm cân hiệu quả" class="blue bold" href="/san-pham-giam-can/vien-uong-best-slim-giam-can-hieu-qua.html">Viên uống Best Slim - giảm cân hiệu quả</a></h3>
									<span class="b fl">Giá bán:&nbsp;</span> <span class="red fl">960.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGV3AN" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="clear"><img class="spacer" src="images/spacer.gif"  alt="spacer"  /></div>
						</div>
						<!--end #group_pro-->
						<div class="clear"><img class="spacer" src="images/spacer.gif" height="10" width="10" alt="spacer" /></div>
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div class="home_product_cat">	<a href="/vitamins-acid-amin-va-khoang-chat.html" title="Vitamins, Acid amin và khoáng chất"><img alt="Vitamins, Acid amin và khoáng chất" src="/data/category/nkz1358830437.png"></a></div>
						<div class="home_product_spacer"><img src="images/spacer.gif" alt="spacer" width="1" height="1" /></div>
						<div class="home_product_cat">	<a href="/lam-dep-chong-lao-hoa.html" title="Làm đẹp, chống lão hóa"><img alt="Làm đẹp, chống lão hóa" src="/data/category/wxz1358830489.png"></a></div>
						<div class="home_product_spacer"><img src="images/spacer.gif" alt="spacer" width="1" height="1" /></div>
						<div class="home_product_cat">	<a href="/xuong-khop.html" title="Xương khớp"><img alt="Xương khớp" src="/data/category/esf1358842275.jpg"></a></div>
						<div class="home_product_spacer"><img src="images/spacer.gif" alt="spacer" width="1" height="1" /></div>
						<div class="home_product_cat">	<a href="/suc-khoe-tre-em.html" title="Sức khỏe trẻ em"><img alt="Sức khỏe trẻ em" src="/data/category/akv1358842469.jpg"></a></div>
						<div class="clear"></div>
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div id="group_pro">
							<div class="title">
								<span>Sản phẩm mới</span>
							</div>
							<!--end .title-->	
							<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/tinh-dau-organnics/combo-tinh-dau-tram.html" title="Combo Tinh dầu Tràm"><img title="Combo Tinh dầu Tràm" alt="Combo Tinh dầu Tràm" class="lazy" src="/data/products/small_combo-tinh-dau-tram.png" /></a>
								</div>
								<!--end .product_item_thumb-->                
								<div class="product_item_teaser">
									<h3><a title="Combo Tinh dầu Tràm" class="blue bold" href="/tinh-dau-organnics/combo-tinh-dau-tram.html">Combo Tinh dầu Tràm</a></h3>
									<span class="b fl">Giá bán:&nbsp;</span> <span class="red fl">300.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGx0Zj" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/lam-dep-duong-da/salcura-antiac-acne-clearing-spray-ho-tro-dieu-tri-da-mun.html" title="SALCURA ANTIAC ACNE CLEARING SPRAY-Hỗ trợ điều trị da mụn"><img title="SALCURA ANTIAC ACNE CLEARING SPRAY-Hỗ trợ điều trị da mụn" alt="SALCURA ANTIAC ACNE CLEARING SPRAY-Hỗ trợ điều trị da mụn" class="lazy" src="/data/products/small_salcura-antiac-acne-clearing-spray.png" /></a>
								</div>
								<!--end .product_item_thumb-->                
								<div class="product_item_teaser">
									<h3><a title="SALCURA ANTIAC ACNE CLEARING SPRAY-Hỗ trợ điều trị da mụn" class="blue bold" href="/lam-dep-duong-da/salcura-antiac-acne-clearing-spray-ho-tro-dieu-tri-da-mun.html">SALCURA ANTIAC ACNE CLEARING SPRAY-Hỗ trợ điều trị da mụn</a></h3>
									<span class="b fl">Giá bán:&nbsp;</span> <span class="red fl">290.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGx0Zt" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="product_item">
								<div class="product_item_thumb">
									<a href="/lam-dep-duong-da/salcura-zeoderm-repair-moisturiser-kem-duong-am-cho-da.html" title="SALCURA ZEODERM REPAIR MOISTURISER- Kem dưỡng ẩm cho da"><img title="SALCURA ZEODERM REPAIR MOISTURISER- Kem dưỡng ẩm cho da" alt="SALCURA ZEODERM REPAIR MOISTURISER- Kem dưỡng ẩm cho da" class="lazy" src="/data/products/small_salcura-zeoderm-repair-moisturiser-kem-duong-am-cho-da_1.png" /></a>
								</div>
								<!--end .product_item_thumb-->                
								<div class="product_item_teaser">
									<h3><a title="SALCURA ZEODERM REPAIR MOISTURISER- Kem dưỡng ẩm cho da" class="blue bold" href="/lam-dep-duong-da/salcura-zeoderm-repair-moisturiser-kem-duong-am-cho-da.html">SALCURA ZEODERM REPAIR MOISTURISER- Kem dưỡng ẩm cho da</a></h3>
									<span class="b fl">Giá bán:&nbsp;</span> <span class="red fl">235.000 ₫</span>                    <!--<span class="price bold"> </span>-->
									<a class="add_cart" href="#" rel="ZGx0ZD" title="Mua hàng"><span>Mua hàng</span></a>
								</div>
								<!--end .product_item_teaser-->
							</div>
							<!--end .product_item-->
							<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
						</div>
						<!--end #group_pro-->		
						<div class="clear"><img height="10px" src="images/spacer.gif" /></div>
						<div class="home_product_hot_main">
							<div class="clear"><img height="15px" src="images/spacer.gif" /></div>
							<div class="home_product_hot_sub">
								<div><a href="http://www.nhathuoc365.vn/ho-tro-dieu-tri-cac-benh-ve-gan-mat/ultra-liver-cleanser-vien-giai-doc-gan.html" target="_blank"><img class="lazy" alt="ultra cleanser" src="/data/banner/ultra-cleanser_1.gif" border="0"></a></div>
							</div>
							<!--end #home_product_hot_sub-->
							<div class="home_product_hot_spacer"><img height="1px" src="images/spacer.gif" /></div>
							<!--end #home_product_hot_spacer-->
							<div class="home_product_hot_sub">
								<div><a href="http://www.nhathuoc365.vn/vitamin/baby-plex-bo-sung-vitamin-tong-hop-cho-tre-nho.html" target="_blank"><img class="lazy" alt="Baby plex" src="/data/banner/baby-plex_1.gif" border="0"></a></div>
							</div>
							<!--end #home_product_hot_sub-->
							<div class="clear"><img height="15px" src="images/spacer.gif" /></div>
						</div>
						<!--end #home_product_hot_main-->	
					</div>
					<!--end #main_content-->
					<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
				</div>
				<!--end #content-->             
				<div class="clear"><img height="1px" src="images/spacer.gif" /></div>
				<div id="footer">
					<div id="footer_menu">
						<div id="footer_menu_main">
							<div class="footer_menu_sub border_right">
								<span class="title">Về chúng tôi</span>
								<a class="link" rel="follow" href="/gioi-thieu/gioi-thieu.html" target="_self">Giới thiệu</a>
								<a class="link" rel="nofollow" href="/gioi-thieu/huong-dan-mua-hang.html" target="_self">Hướng dẫn mua hàng</a>
								<a class="link" rel="nofollow" href="/gioi-thieu/hinh-thuc-thanh-toan.html" target="_self">Hình thức thanh toán</a>
								<a class="link" rel="" href="/gioi-thieu/chinh-sach-van-chuyen.html" target="_self">Chính sách vận chuyển</a>
								<a class="link" rel="nofollow" href="/gioi-thieu/quy-dinh-su-dung.html" target="_self">Quy định sử dụng</a>
								<a class="link" rel="nofollow" href="/gioi-thieu/chinh-sach-doi-hang.html" target="_self">Chính sách đổi hàng</a>
								<a class="link" rel="nofollow" href="/gioi-thieu/cau-hoi-thuong-gap.html" target="_self">Câu hỏi thường gặp</a>
								<a class="link" rel="" href="/gioi-thieu/quye-loi-thanh-vien.html" target="_self">Quyền lợi khách hàng</a>
								<a class="link" rel="follow" href="/gioi-thieu/chinh-sach-bao-mat.html" target="_self">Chính sách bảo mật</a>
							</div>
							<!--end .footer_menu_sub-->
							<div class="footer_menu_sub border_right">
								<span class="title">Nhóm sản phẩm tiêu biểu</span>
								<a class="link" rel="" href="/vitamins-acid-amin-va-khoang-chat.html" target="_self">Vitamins và Khoáng chất</a>
								<a class="link" rel="" href="/xuong-khop.html" target="_self">Điều trị xương khớp</a>
								<a class="link" rel="" href="/thuc-pham-giam-can-an-kieng.html" target="_self">Thực phẩm giảm cân</a>
								<a class="link" rel="" href="/lam-dep-chong-lao-hoa.html" target="_self">Làm đẹp - Chống lão hóa</a>
								<a class="link" rel="" href="/suc-khoe-sinh-ly-nam.html" target="_self">Sức khỏe - sinh lý nam</a>
								<a class="link" rel="" href="/suc-khoe-sinh-ly-nu.html" target="_self">SK - Sinh lý nữ</a>
								<a class="link" rel="" href="/ho-tro-tuan-hoan-nao.html" target="_self">Hỗ trợ tuần hoàn não</a>
							</div>
							<!--end .footer_menu_sub-->
							<div class="footer_menu_sub border_right">
								<span class="title">Thương hiệu phổ biến</span>
								<a class="link" rel="" href="/thuong-hieu/nature-plus-my.html" target="_self">Nature 's Plus</a>
								<a class="link" rel="" href="/thuong-hieu/vitamins-for-life-my.html" target="_self">Vitamins For Life</a>
								<a class="link" rel="" href="/thuong-hieu/swanson-my.html" target="_self">Swanson</a>
								<a class="link" rel="" href="nowfoods-my.html" target="_self">Now Foods</a>
								<a class="link" rel="" href="/thuong-hieu//nhat-nhat.html" target="_self">Nhất Nhất</a>
								<a class="link" rel="" href="/thuong-hieu/traphaco.html" target="_self">Traphaco</a>
								<a class="link" rel="" href="/thuong-hieu/sao-thai-duong-212.html" target="_self">Sao Thái Dương</a>
							</div>
							<!--end .footer_menu_sub-->
							<div class="footer_menu_facebook">
								<div id="fb-root"></div>
								<script type="text/javascript">(function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s); js.id = id;
									js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=600896199960689";
									fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));
								</script>
								<div class="fb-like-box" data-href="https://www.facebook.com/Nhathuoc365" data-width="368" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
								<div class="clear"></div>
							</div>
							<!--end .footer_menu_facebook-->
							<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
						</div>
						<!--end #footer_menu_main-->
						<script language="javascript">
							$(document).ready(function(){
								maxH = 0;
								$('.footer_menu_sub').each(function(){ if($(this).height() > maxH) maxH = $(this).height(); });
								$('.footer_menu_sub').each(function(){ $(this).css('height',maxH); });
							})
						</script>
					</div>
					<!--end #footer_menu-->	
					<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
					<div id="footer_ext">
						<div id="news_letter" style="background: url(images/voucher.png) #bde546 center center no-repeat; ">
							<div class="nl_form">
								<form action="/ajax.html" name="frmNewletter" method="post" onsubmit="return validateNewsletter(this)" autocomplete="off">
									<input type="text" name="email" value="" placeholder="Địa chỉ Email của bạn" />			
									<div class="clear"></div>
									<input type="submit" value="Đăng ký - Nhận tiện ích" />			<input type="hidden" name="new_research" value="1" />			<input type="hidden" name="action" value="reg_newsletter" />		
								</form>
							</div>
							<!-- End .nl_form -->
						</div>
						<!-- End #news_letter -->	
						<!--end #news_letter-->		
						<div id="copy_info">
							<div class="info">
								<div>
									<p style="text-align: justify;">&nbsp;<a href="http://www.online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=5986" target="_blank"><img src="/upload_images/Sanpham/dky.jpg" width="270" height="58" alt="" /></a>&nbsp;</p>
									<p style="text-align: justify;"><strong>Bản quy&ecirc;̀n website thu&ocirc;̣c Nhathuoc365 </strong><span style="font-size: small;"><span style="font-family: Arial;"> </span></span></p>
									<p style="text-align: justify;"><strong>Địa chỉ:</strong> Ph&ograve;ng 603, nh&agrave; 24T2 Ho&agrave;ng Đạo Th&uacute;y, H&agrave; Nội<span style="font-family: Arial;"> </span>&nbsp;</p>
									<p><span style="font-size: small;"><span style="font-family: Arial;"> </span></span></p>
									<p style="text-align: justify;"><strong>Điện thoại</strong>: 1800.8155 | Mobile: 0943.48.49.50<span style="font-size: small;"><span style="font-family: Arial;"> </span></span>&nbsp;</p>
									<p style="text-align: justify;"><span style="font-size: small;"><span style="font-family: Arial;"><strong>Email:</strong> admin@nhathuoc365.vn</span></span></p>
									<p style="text-align: justify;"><em><strong><span style="font-size: small;"><span style="font-family: Arial;">Mọi th&ocirc;ng tin tr&ecirc;n website chỉ mang t&iacute;nh chất tham khảo.</span></span></strong></em></p>
									<p style="text-align: justify;"><em><strong><span style="font-size: small;"><span style="font-family: Arial;">Việc sử dụng TPCN n&ecirc;n theo hướng dẫn của b&aacute;c sĩ, dược sĩ hoặc người c&oacute; chuy&ecirc;n m&ocirc;n.</span></span></strong></em></p>
									<p style="text-align: justify;"><span style="font-size: small;"><span style="font-family: Arial;">&nbsp;</span></span></p>
									<p style="text-align: justify;"><span id="1369301874012E" style="display: none;">&nbsp;</span></p>
									<div style="width:1px;height:1px;display:none"><img src="http://static.novanet.vn/adverclient.js?code=653" alt="" /></div>
									<div style="width:1px;height:1px;display:none"><img src="http://static.novanet.vn/adverclient.js?code=684" alt="" /></div>
									<h3>
										<div class="wmt11" style="position: absolute;display:block; text-indent:-0px; top: -160px; overflow: auto"><strong><em><a href="http://gameavatarhay.com/tai-facebook-mien-phi/" rel="dofollow" target="_blank" title="tai facebook">tai facebook</a></em></strong></div>
									</h3>
									<p><span style="position: absolute; top: -100px; overflow: auto"> <strong><em> <a href="http://gameandroidhot.net/" title="game android">game android</a> <a href="http://yugo.vn/phu-nu/" title="bao phu nu">bao phu nu</a>, <a href="http://yugo.vn/bao-moi/" title="bao moi">bao moi</a>, <a href="http://xulynuoc.com/" title="xu ly nuoc">xu ly nuoc</a> <a href="http://hungcatloi.com.vn/dich-vu/thanh-lap-cong-ty" title="thanh lap cong ty">thanh lap cong ty</a> <a href="http://gumua.com/thuoc-giam-can.html" title="thuoc giam can">thuoc giam can</a> </em></strong> </span></p>
								</div>
							</div>
							<div class="copy">
								<div class="counter">
									<div><span class="b">Số lượt truy cập:</span> <span>11.679.738</span></div>
									<div class="cler"></div>
									<div><span class="b">Số người trực tuyến:</span> <span>186</span></div>
								</div>
								<div class="clear"></div>
								<div style="text-align:right;">Thiết kế web: <a href="http://www.finalstyle.com">Finalstyle</a></div>
							</div>
							<div class="clear"><img class="spacer" src="images/spacer.gif" /></div>
						</div>
					</div>
					<!--end #footer_ext-->
					<div class="clear"></div>
				</div>
				<!--end #footer-->
				<div id="divAdRight">
					<div><a href="http://nhathuoc365.vn/tinh-dau-tu-nhien.html" target="_blank"><img class="lazy" alt="tinh dầu" src="/data/banner/tinh-dau.gif" border="0"></a></div>
				</div>
				<div id="divAdLeft">
					<div><a href="http://nhathuoc365.vn/qc/combo-hop-best-slim-va-tinh-dau-massage-giam-beo.html?utm_source=banner" target="_blank"><img class="lazy" alt="best slim+ massage giảm béo" src="/data/banner/best-slim-massage-giam-beo.gif" border="0"></a></div>
				</div>
				<script type="text/javascript">
					document.write("<script type='text/javascript' language='javascript'>MainContentW = 1015;LeftBannerW = 150;RightBannerW = 150;LeftAdjust = 0;RightAdjust = 2;TopAdjust = 31;ShowAdDiv();window.onresize=ShowAdDiv;;<\/script>");
				</script>
				<div style="height:98px;" id="fl813691">
					<div id="eb951855">
						<div id="cob263512">
							<div id="coh963846">
								<ul id="coc67178">
									<li id="pf204652hide"><a class="min" href="javascript:pf204652clickhide();" title="Ẩn quảng cáo">Ẩn quảng cáo</a></li>
									<li id="pf204652show" style="display: none;"><a class="max" href="javascript:pf204652clickshow();" title="Xem quảng cáo">Xem quảng cáo</a></li>
									<li id="pf204652close"><a class="close" href="javascript:pf204652clickclose();" title="Đóng quảng cáo">Đóng quảng cáo</a></li>
								</ul>
								&nbsp;<span id="eb951855_label">Hỗ trợ trực tuyến</span>
							</div>
							<div id="co453569">
								<div class="box_popup">
									<div class="popup_hotline">
										<div class="popup_ym">
											<div class="popup_ym_label"><span>ĐT tư vấn và đặt hàng</span></div>
											<div class="popup_ym_online"><a href="ymsgr:sendIM?tvgc01"><img src="http://opi.yahoo.com/online?u=tvgc01&m=g&t=1" alt="ĐT tư vấn và đặt hàng" /></a></div>
										</div>
										<div class="clear"></div>
										<span class="hotline">1800.8155 / 0943.48.49.50</span>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript" src="js/jquery.cookie.js"></script>
				<script type="text/javascript" src="js/popup.js"></script>
				<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-34754356-1']);
					_gaq.push(['_trackPageview']);
					
					(function() {
					  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
				</script>
				<!-- Google Code for Th&#7867; ti&#7871;p th&#7883; l&#7841;i -->
				<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
				<script type="text/javascript">
					/* <![CDATA[ */
					var google_conversion_id = 998389176;
					var google_conversion_label = "DjbkCOj1-gMQuOuI3AM";
					var google_custom_params = window.google_tag_params;
					var google_remarketing_only = true;
					/* ]]> */
				</script>
				<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
				<noscript>
					<div style="display:inline;">
						<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/998389176/?value=0&amp;label=DjbkCOj1-gMQuOuI3AM&amp;guid=ON&amp;script=0"/>
					</div>
				</noscript>
				<script type="text/javascript">
					/* <![CDATA[ */
					var google_conversion_id = 996270588;
					var google_custom_params = window.google_tag_params;
					var google_remarketing_only = true;
					/* ]]> */
				</script>
				<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
				<noscript>
					<div style="display:inline;">
						<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/996270588/?value=0&amp;guid=ON&amp;script=0"/>
					</div>
				</noscript>
			</div>
			<!--end #wrapper-->
		</div>
		<!--end #wrapper_main-->
	</body>
</html>